<div class="fs-18px font-weight-bold">{{ "Create-a-Profile" | translate }}</div>

<div class="fs-15px mt-15px">
  {{ getCreateProfileMessage() }}
  <br />
  <br />
  <span *ngIf="globalVars.createProfileFeeNanos > 0">
    {{ "Creating-a-profile-currently-costs" | translate }}
    <b>
      {{ globalVars.createProfileFeeInDeSo() }} {{ "DeSo" | translate }} (≈ {{ globalVars.createProfileFeeInUsd() }}
      {{ "USD" | translate }})
    </b>
  </span>
</div>

<a class="mt-15px btn btn-primary br-12px" (click)="launchPhoneNumberVerification()">
  {{ "Get-Starter-DESO" | translate }}
</a>

<div class="fs-15px mt-15px">Or</div>

<div class="fs-15px mt-15px">
  <a href="" [routerLink]="'/' + globalVars.RouteNames.BUY_DESO" queryParamsHandling="merge">
    {{ "Purchase" | translate }} {{ globalVars.createProfileFeeInUsd() }} {{ "USD-of-DeSo" | translate }}
  </a>
</div>
