<div *ngIf="globalVars.loggedInUser && !globalVars.loggedInUser.JumioVerified" class="w-100">
  <!-- User completed Jumio flow, but we haven't received the Jumio callback yet-->
  <div
    *ngIf="globalVars.loggedInUser.JumioFinishedTime && !globalVars.loggedInUser.JumioReturned"
    class="d-flex align-items-center font-weight-normal justify-content-between"
  >
    <div class="fs-20px">⌛</div>
    <div style="width: calc(100% - 4rem); text-align: center">
      {{ "Your-free" | translate }}
      <free-deso-message></free-deso-message>
      {{ "will-arrive-in" | translate }}
      <b>{{ "about-a-minute" | translate }}</b>
      .
    </div>
    <div class="fs-20px">⌛</div>
  </div>
  <!-- User hasn't tried jumio flow -->
  <div
    *ngIf="!globalVars.loggedInUser.JumioFinishedTime"
    (click)="globalVars.launchGetFreeDESOFlow()"
    class="d-flex align-items-center font-weight-normal justify-content-between"
  >
    <div class="fs-20px">💰</div>
    <div style="width: calc(100% - 4rem); text-align: center">
      <span class="cursor-pointer font-weight-bold" style="color: var(--link)">{{ "Click-here" | translate }}</span>
      {{ "to-get-your" | translate }}
      <b>
        {{ "free" | translate }}
        <free-deso-message></free-deso-message>
      </b>
      .
    </div>
    <div class="fs-20px">💰</div>
  </div>
  <!-- User tried Jumio but verification failed-->
  <div
    *ngIf="globalVars.loggedInUser.JumioFinishedTime && globalVars.loggedInUser.JumioReturned"
    (click)="globalVars.launchGetFreeDESOFlow()"
    class="d-flex align-items-center font-weight-normal justify-content-between"
  >
    <div class="fs-20px">😢</div>
    <div style="width: calc(100% - 4rem); text-align: center">
      {{ "Your-robot-check-failed" | translate }}.
      <br />
      <span class="cursor-pointer font-weight-bold" style="color: var(--link)">{{ "Click-here" | translate }}</span>
      {{ "to-try-again" | translate }}.
    </div>
    <div class="fs-20px">😢</div>
  </div>
</div>
