<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="western" align="left">
        {{ "Last-updated" | translate }}:
        <br />
        {{ "November" | translate }} 1, 2020
      </h1>
      <p class="western" align="left">&nbsp;</p>
      <h2 class="western" align="left">{{ "Terms-of-Service" | translate }}</h2>
      <p class="western" align="left">
        {{ "termsTitle" | translate }},
        <strong>
          {{ "which-is-a-fully-decentralized-protocol-that-no-individual-or-corporate-entity-controls" | translate }}.
        </strong>
      </p>
      <p class="western" align="left">&nbsp;</p>
      <p class="western" align="left">{{ "Terms-of-Service-Agreement" | translate }}.</p>
      <p class="western" align="left">&nbsp;</p>
      <h3 class="western" align="left">1. {{ "Modification-of-this-Agreement" | translate }}</h3>
      <p class="western" align="left">
        {{ "The-operators-of-the-Interface" | translate }}
        <em>
          <strong>{{ "and" | translate }}</strong>
        </em>
        {{ "any-and-all-developers-of-the-Blockchain" | translate }} (
        <span style="color: #000000">
          <span>
            <span>
              <span>{{ "collectively-the" | translate }}</span>
            </span>
          </span>
        </span>
        {{ "Modification-of-this-Agreement-terms" | translate }}.
      </p>
      <p class="western" align="left">&nbsp;</p>
      <h3 class="western" align="left">2. {{ "Eligibility" | translate }}</h3>
      <p class="western" align="left">{{ "Eligibility-terms" | translate }}.</p>
      <p class="western" align="left">&nbsp;</p>
      <h3 class="western" align="left">3. {{ "Prohibited-Activity" | translate }}</h3>
      <p class="western" align="left">{{ "Prohibited-Activity-terms" | translate }}:</p>
      <p class="western" align="left">&nbsp;</p>
      <ul>
        <li>
          <p class="western" align="left">{{ "Prohibited-Activity-terms1" | translate }}.</p>
        </li>
      </ul>
      <p class="western" align="left">&nbsp;</p>
      <h3 class="western" align="left">4. {{ "No-Professional-Advice" | translate }}</h3>
      <p class="western" align="left">{{ "No-Professional-Advice-terms" | translate }}.</p>
      <p class="western" align="left">&nbsp;</p>
      <h3 class="western" align="left">5. {{ "No-Warranties" | translate }}</h3>
      <p class="western" align="left">{{ "No-Warranties-terms" | translate }}.</p>
      <p class="western" align="left">&nbsp;</p>
      <p class="western" align="left">
        {{ "No-Warranties-terms1" | translate }}
        <span style="color: #000000">
          <span style="font-family: 'Liberation Serif', serif">
            <span style="font-size: medium">
              <span lang="en-US">{{ "using" | translate }}</span>
            </span>
          </span>
        </span>
        {{ "No-Warranties-terms2" | translate }}
        <span style="color: #000000">
          <span style="font-family: 'Liberation Serif', serif">
            <span style="font-size: medium"><span lang="en-US">B</span></span>
          </span>
        </span>
        {{ "No-Warranties-terms3" | translate }}
        <span style="color: #000000">
          <span style="font-family: 'Liberation Serif', serif">
            <span style="font-size: medium">
              <span lang="en-US">{{ "once" | translate }}</span>
            </span>
          </span>
        </span>
        {{ "the-conversion-into-DESO-is-complete" | translate }}.
      </p>
      <p class="western" align="left">&nbsp;</p>
      <p class="western" align="left">{{ "No-Warranties-terms4" | translate }}.</p>
      <p class="western" align="left">&nbsp;</p>
      <h3 class="western" align="left">6. {{ "Consumptive-Use" | translate }}</h3>
      <p class="western" align="left">{{ "Consumptive-Use-terms" | translate }}:</p>
      <p class="western mt-3" align="left">
        (i) {{ "Consumptive-Use-terms1" | translate }};
        <br />
        <br />
        (ii) {{ "Consumptive-Use-terms2" | translate }};
        <br />
        <br />
        (iii) {{ "Consumptive-Use-terms3" | translate }};
        <br />
        <br />
        (iv) {{ "Consumptive-Use-terms4" | translate }};
        <br />
        <br />
        (v) {{ "Consumptive-Use-terms5" | translate }};
        <br />
        <br />
        (vi) {{ "Consumptive-Use-terms6" | translate }};
        <br />
        <br />
        (vii) {{ "Consumptive-Use-terms7" | translate }}
        <br />
        <br />
        (viii) {{ "Consumptive-Use-terms8" | translate }}.
      </p>
      <h3 class="western mt-3" align="left">7. {{ "No-Fiduciary-Duties" | translate }}</h3>
      <p class="western" align="left">{{ "No-Fiduciary-Duties-terms" | translate }}.</p>
      <p class="western" align="left">&nbsp;</p>
      <h3 class="western" align="left">8. {{ "Compliance-Obligations" | translate }}</h3>
      <p class="western" align="left">{{ "Compliance-Obligations-terms" | translate }}.</p>
      <p class="western" align="left">&nbsp;</p>
      <h3 class="western" align="left">9. {{ "Assumption-of-Risk" | translate }}</h3>
      <p class="western" align="left">{{ "Assumption-of-Risk-terms" | translate }}.</p>
      <p class="western" align="left">&nbsp;</p>
      <h3 class="western" align="left">10. {{ "Third-Party-Resources-and-Promotions" | translate }}</h3>
      <p class="western" align="left">{{ "Third-Party-Resources-and-Promotions-terms" | translate }}.</p>
      <p class="western" align="left">&nbsp;</p>
      <h3 class="western" align="left">11. {{ "Release-of-Claims" | translate }}</h3>
      <p class="western" align="left">{{ "Release-of-Claims-terms" | translate }};</p>
      <p class="western" align="left">&nbsp;</p>
      <h3 class="western" align="left">12. {{ "Indemnity" | translate }}</h3>
      <p class="western" align="left">{{ "Indemnity-terms" | translate }}.</p>
      <p class="western" align="left">&nbsp;</p>
      <h3 class="western" align="left">13. {{ "Limitation-of-Liability" | translate }}</h3>
      <p class="western" align="left">{{ "Limitation-of-Liability-terms" | translate }}.</p>
      <p class="western" align="left">&nbsp;</p>
      <h3 class="western" align="left">14. {{ "Dispute-Resolution" | translate }}</h3>
      <p class="western" align="left">{{ "Dispute-Resolution-terms" | translate }}.</p>
      <p class="western" align="left">&nbsp;</p>
      <p class="western" align="left">{{ "Dispute-Resolution-terms1" | translate }}.</p>
      <p class="western" align="left">&nbsp;</p>
      <h3 class="western" align="left">15. {{ "Class-Action-and-Jury-Trial-Waiver" | translate }}</h3>
      <p class="western" align="left">{{ "Class-Action-and-Jury-Trial-Waiver-terms" | translate }}.</p>
      <p class="western" align="left">&nbsp;</p>
      <h3 class="western" align="left">16. {{ "Governing-Law" | translate }}</h3>
      <p class="western" align="left">{{ "Governing-Law-terms" | translate }}.</p>
      <p class="western" align="left">&nbsp;</p>
      <p class="western" align="left">&nbsp;</p>
      <h3 class="western" align="left" id="commitment-to-removing-reserved-profiles">
        17. {{ "Commitment-to-Removing-Reserved-Profiles-Upon-Request" | translate }}
      </h3>
      <p class="western" align="left">&nbsp;</p>
      <p class="western" align="left">
        {{ "Commitment-to-Removing-Reserved-Profiles-Upon-Request-terms" | translate }}.
      </p>
      <p class="western" align="left">&nbsp;</p>
      <p class="western" align="left">
        {{ "Commitment-to-Removing-Reserved-Profiles-Upon-Request-terms1" | translate }}.
      </p>
      <p class="western" align="left">&nbsp;</p>
      <p class="western" align="left">&nbsp;</p>
    </div>
  </div>
</div>
